/* Reset some default styles */
body, div, h1, h2, h3, h4, h5, h6, p, table, td {
    margin: 0;
    padding: 0;
    border: 0;
}

td:hover {
    cursor: pointer;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lifeCount {
    margin-bottom: 20px;
}

/* Style the board container */
.board-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Style the board */
table {
    border-collapse: collapse;
    width: 320px;
    height: 320px;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #000;
}

/* Style the direction labels */
.direction-label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
 
}

.north, .south {
    display: inline-block;
}

/* Rotate the West and East labels */
.west, .east {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.west {
    margin-left: -400px;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: right center;
 
}

.east {
    margin-right: -400px;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: left center;
}

#result {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffcc00;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
    .direction-label {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
    }
    
    .north, .south {
        display: inline-block;
        margin-top: 0;
    }
    
    /* Rotate the West and East labels */
    .west, .east {
        text-align: center;
        white-space: nowrap; /* Prevent text wrapping */
    }
    
    .west {
        margin-right: auto; /* Push it to the right */
        transform: rotate(-90deg); /* Rotate -90 degrees */
    }
    
    .east {
        margin-left: auto; /* Push it to the left */
        transform: rotate(90deg); /* Rotate 90 degrees */
    }
}
